<form action="insert_book.php" method="post">
	<label>Nome do Livro</label><br>
	<input type="text" name="book_name" placeholder="Nome do Livro" class="form-control"><br>

	<label>Autor</label><br>
	<input type="text" name="book_author" placeholder="Autor" class="form-control"><br>

	<label>Editora</label><br>
	<input type="text" name="book_edition" placeholder="Editora" class="form-control"><br>

	<label>Gênero</label><br>
	<input type="text" name="book_gender" placeholder="Gênero" class="form-control"><br>
	
	<button class="btn btn-success btn-block"> 
		<i class="fa fa-thumbs-up"></i>
		Cadastrar Livro
	</button>
</form>